html {
   background-color: rgb(138, 190, 232);
   margin-top: 10px;
}
body {
   width: 600px;
   margin: 0 auto;
   background-color: rgb(209, 203, 237);
   padding: 0px 20px 20px 20px;
   border: 5px solid #000;
}

h1 {
   color: red;
   font-size: 60px;
   text-align: center;
   height: 100px;
}
